.btn{
    display: block;
    left: 40%;
}
#fbuttons{
    margin-top: 1%;
    margin-left: 45%;
}
#drinks{
    margin-top: 100px;
    margin-left: 33%;
    padding: 100px;
}
.drink{
    margin: 50px;
    width: 100px;
    height: 60px;
}
.sugarInput{
    width: 25px;
    text-align: center;
}
.modalLabel{
    margin-right: 20px;
}
.checkbox{
    width: 15px;
    height: 15px;
}
.parts{
    display: inline;
}
.parts{
    margin: 5px;
}
.modal-container{
    margin-top: 20px;
}
.coffeeRadio{
    display: block;
}
.coffeeChoose{
    text-align: right;
    width: 25%;
}
#error{
    width: 24px;
    height: 24px;
}
body {
    background: url(/images/coffeeMachineBackground.jpg)
}