<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/coffeeStyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <script src="~/js/coffeeMachine.js" type="module">
    </script>
    <title>Coffe</title>
</head>
<body>
    <div id="fbuttons">
        <input class=" btn btn-primary" type="button" value="Start" id="start">
        <input class=" btn btn-primary" type="button" value="Stop" id="stop">
    </div>
    <div id="drinks">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary drink" data-toggle="modal" data-target="#teaWindow" disabled id="teaButton">
            Чай
        </button>
        <button type="button" class="btn btn-primary drink" data-toggle="modal" data-target="#coffeeWindow" disabled id="coffeeButton">
            Кофе
        </button>
        <!-- Modal -->
        <div class="modal fade" id="teaWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="teaModal">Заказать чай</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-container">
                            <label for="teaAmount">Размер стакана</label>
                            <select name="amount" id="teaAmount">
                                <option>Small</option>
                                <option>Medium</option>
                                <option>Large</option>
                                <option>Extra</option>
                                <option>Giant</option>
                            </select>
                        </div>
                        <div class="modal-container">
                            <label for="teaAmount">Сорт чая</label>
                            <select name="amount" id="teaSort">
                                <option>Чёрный</option>
                                <option>Белый</option>
                                <option>Красный</option>
                                <option>Жёлтый</option>
                                <option>Серый</option>
                                <option>Зелёный</option>
                            </select>
                        </div>
                        <div class="modal-container">
                            <label for="reduceSugar" class="modalLabel">Добавить сахар</label>
                            <button id="reduceSugar" class="btn btn-secondary">-</button>
                            <input type="text" value="0" class="sugarInput" id="teaSugar" readonly>
                            <button id="increaseSugar" class="btn btn-primary">+</button>
                        </div>
                        <div class="modal-container checkbox-container">
                            <div class="parts">
                                <label for="teaMint">&#127811;</label>
                                <input type="checkbox" id="teaMint" class="checkbox">
                            </div>
                            <div class="parts">
                                <label for="teaLemon">&#127819;</label>
                                <input type="checkbox" id="teaLemon" class="checkbox">
                            </div>
                            <div class="parts">
                                <label for="teaIce">&#x1F9CA;</label>
                                <input type="checkbox" id="teaIce" class="checkbox">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-primary" id="teaPour">Налить</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="coffeeWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="coffeeModal">Заказать кофе</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="coffeeChoose">
                            <form>
                                <div class="coffeeRadio">
                                    <label for="frappe">Frappe</label>
                                    <input type="radio" name="coffee" id="frappe">
                                </div>
                                <div class="coffeeRadio">
                                    <label for="latte">Latte</label>
                                    <input type="radio" name="coffee" id="latte">
                                </div>
                                <div class="coffeeRadio">
                                    <label for="americano">Americano</label>
                                    <input type="radio" name="coffee" id="americano">
                                </div>
                                <div class="coffeeRadio">
                                    <label for="cappuccino">Cappuccino</label>
                                    <input type="radio" name="coffee" id="cappuccino">
                                </div>
                                <div class="coffeeRadio">
                                    <label for="espresso">Espresso</label>
                                    <input type="radio" name="coffee" id="espresso">
                                </div>
                                <div class="coffeeRadio">
                                    <label for="custom">Custom</label>
                                    <input type="radio" name="coffee" checked id="custom">
                                </div>
                            </form>
                        </div>
                        <div class="modal-container">

                            <label for="coffeeAmount">Размер стакана</label>
                            <select name="amount" id="coffeeAmount">
                                <option>Small</option>
                                <option>Medium</option>
                                <option>Large</option>
                                <option>Extra</option>
                                <option>Giant</option>
                            </select>
                        </div>
                        <div class="modal-container">
                            <label for="reduceCoffeeSugar" class="modalLabel">Добавить сахар</label>
                            <button id="reduceCoffeeSugar" class="btn btn-secondary">-</button>
                            <input type="text" value="0" class="sugarInput" id="coffeeSugar">
                            <button id="increaseCoffeeSugar" class="btn btn-primary">+</button>
                        </div>
                        <div class="modal-container checkbox-container" id="checkCoffee">
                            <div class="parts">
                                <label for="coffeeMilk">&#129371;</label>
                                <input type="checkbox" id="coffeeMilk" class="checkbox">
                            </div>
                            <div class="parts">
                                <label for="coffeeLemon">&#127819;</label>
                                <input type="checkbox" id="coffeeLemon" class="checkbox">
                            </div>
                            <div class="parts">
                                <label for="coffeeIce">&#x1F9CA;</label>
                                <input type="checkbox" id="coffeeIce" class="checkbox">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-primary" id="coffeePour">Налить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
